.notesItem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: rgb(99, 189, 189);
  margin: 3px;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid rgb(112, 112, 112);
  font-size: smaller;
  justify-content: space-between;
  height: 3rem;
}
.notesItem h1,
p,
button {
  font-size: xx-small;
  margin: 0;
}
li {
  list-style-type: none;
}

.taskCompleted {
  text-decoration: line-through;
}
.Critical {
  background-color: red;
}

.Medium {
  background-color: yellow;
}

.Low {
  background-color: green;
}
